@import "reset.css";

li {padding-left:10px;
    cursor:pointer;
}

    li:hover {
        color:white;
    }

.dispflex{
    display:flex;
}

.width100prc {
    width: 100%;
}

.heigh100prc{
    height:100%;
}

.width33prc{
    width:33%;
    background-color:red;
}

.border2pxsolidblack{
border:2px solid black
}

.width66prc{
    width: 66%;
    background-color: #ff6a00;
}

.directory{
    background-color:antiquewhite;
}